{% extends "archive/base-archive-responsive.html" %}
{% load local_datetime archive_description %}
{% load render_bundle from webpack_loader %}

{% block header_scripts %}
  {% local_datetime_js %}{# allow local_datetime filter to work #}
{% endblock %}

{% block title %} | {{link.submitted_title}}{% endblock %}

{% block meta_description %}
{{ link.submitted_description | archive_description:''  }}
{% endblock %}

{% block meta-head %}
  <meta name="robots" content="noindex, noimageindex">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ protocol }}{{ link_url }}">
  <meta property="og:title" content="{{ link.submitted_title }}">
  <meta property="og:description" content="{{ link.submitted_description | archive_description:''  }}">
  <meta property="og:image" content="{{ protocol }}{{ request.get_host }}{{ STATIC_URL }}img/sharing/blue_logo.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ protocol }}{{ link_url }}">
  <meta name="twitter:title" content="{{ link.submitted_title }}">
  <meta name="twitter:description" content="{{ link.submitted_description | archive_description:''  }}">
  <meta name="twitter:image" content="{{ protocol }}{{ request.get_host }}{{ STATIC_URL }}img/sharing/blue_logo.png">

{% endblock %}

{% block header %}

{% comment %}


  Our header is built using three segments.
  +------------------------------------+
  | Primary segment                     |
  |                                     |
  | This segment is always displayed    |
  --------------------------------------
  | Details segment                     |
  |                                     |
  | This segment is displayed           |
  | if the user clicks the show         |
  | details button                      |
  --------------------------------------
  | Status banner segment               |
  |                                     |
  | If we have a message to share       |
  | we display it here. Things like     |
  | "Things archive is dark, but you    |
  | can see it because you're part of   |
  | org that owns the archive" or       |
  | "Archive created successfully,      |
  | here's the perma.cc address of      |
  | the archive"                        |
  +------------------------------------+

 {% endcomment %}


  <header{% if link.is_private %} class="_isPrivate"{% endif %}>
    {% if request.user.is_authenticated %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  {% endif %}

    <div class="primary-segment row">
      <div class="col col-sm-4 _main {% if request.user.is_authenticated %}_authenticated{% else %}_unauthenticated{% endif %}">
        <div class="content">
          <p class="title"><span class="_verbose">This is an </span>{% if link.is_private %}Private {% endif %}archived record</p>
          <p class="creation"><span class="cat">{% if capture.user_upload %}Uploaded{% else %}Captured{% endif %}</span> {{ link.creation_timestamp|local_datetime }}
            {% if serve_type != 'image' %}
              {% if link.screenshot_capture and link.screenshot_capture.status == 'success' %}
                <span class="action">
                  <span class="_verbose">
                    Looks wrong?
                    <a href="{% url 'single_permalink' link.guid %}?type=image">
                    See the Screenshot View
                    </a>
                  </span>
                </span>
              {% endif %}
            {% else %}
              <span class="action">
                <span class="_verbose">This is a screenshot. </span>
                {% if link.primary_capture and link.primary_capture.status == 'success' %}
                  <a href="{% url 'single_permalink' link.guid %}">See the Capture View</a>
                {% endif %}
              </span>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col col-sm-2 _livepage">
        <div class="content">
          <a class="btn btn-outside" href="{{link.submitted_url}}" target="_blank">
          <span>View the live page</span></a>
        </div>
      </div>
    </div>
  </header>

{% endblock %}

{% block mainContent %}

  {% if link.user_deleted %}
    {% include "archive/deleted.html" %}
  {% elif can_view %}
    {% if redirect_to_download_view %}
      {% include "archive/download_to_view_pdf.html" %}
    {% else %}
      {% include "archive/iframe.html" %}
    {% endif %}
  {% elif link.is_private %}
    {% include "archive/dark-archive.html" %}
  {% endif %}

{% endblock %}

{% block scripts %}
  <script>
    var archive = { guid: "{{ link.guid }}" };
    var current_user = {id:"{{request.user.id}}"};
  </script>

  {% if request.user.is_authenticated %}
    {% render_bundle 'global' 'js' %}
    {% render_bundle 'single-link-permissions' 'js' %}
  {% else %}
    {% render_bundle 'single-link' 'js' %}
  {% endif %}

{% endblock %}
